/*-----------
    RESET
-----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #E53170;
}

body {
    font-family: 'Fredoka One', cursive;
}

.container {
    max-width: 1150px;
    margin: auto;
    
}

.box {
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: black;
    width: 300px;
    color: #fff;
    float: left;
    margin-left: 25px;
    margin-bottom: 40px;
}

img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

h4, small, a {
    padding-top: 10px;
    
}

a {
    text-decoration: none;
    font-size: 10px;
}

h4 {
    font-size: 15px;
}